/**
 * Global styles
 */

/*-----------------------
  Glyphicon Overwrites
 ------------------------*/
.glyphicon {
	font-size: 2em;
}

/*-----------------
    	MAIN
 -----------------*/

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-image: url('../images/background.jpg');
}

blockquote {
	border: 0;
}

#page-container {
	border-top-right-radius: 10px;
	bottom: 40px;
	left: 15px;
	min-height: 480px;
	min-width: 360px;
	position: relative;
	top: 5px;
	width: 96%;
}

.button {
	cursor: pointer;
 	position: relative;
}

.button:not(.ui-state-disabled):hover {
	color: map-get($colors, alto);
}

.population-container {
	background: rgba(0, 0, 0, .7);
	color: map-get($colors, dusty-grey);
	font-family: $font-family-sans-serif;
	margin: 0;
	padding: 2px 10px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.silence-text {
	display: none;
	left: 50%;
	margin-left: -100px;
	margin-top: -50px;
	position: absolute;
	top: 50%;
}

.silence-text h1 {
	color: map-get($colors, 'red');
}

.population-container {
	h2 {
		border-bottom: 1px map-get($colors, dusty-grey) solid;
	}

	h4 {
		float: left;
		margin-left: 35px;
	}

	.male {
		color: map-get($colors, fountain);
	}

	.female {
		color: map-get($colors, hopbush);
	}
}

footer {
	background: rgba(0, 0, 0, 0.7);
	color: map-get($colors, dusty-grey);
	font-family: $font-family-sans-serif;
	font-size: 12px;
	height: 40px;
	margin-left: 15px;
	position: relative;
	text-align: center;
	text-shadow: 1px 1px 0 map-get($colors, mine-shaft);
	width: calc(100% - 25px);

	a:hover {
		color: map-get($colors, flamingo);
		text-decoration: none;
		transition: 1s linear;
	}

	a:link,
	a:visited,
	a:active {
		color: map-get($colors, casablanca);
		text-decoration: none;
	}

	p {
		padding-top: 15px;
	}
}
