/**
 * Global styles
 */

/*-------------------
		FONTS
 ------------------*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/*-----------------------
  Glyphicon Overwrites
 ------------------------*/
.glyphicon:not(.heart) {
	font-size: 2em;
	padding: 10px;
}

/*-----------------
    	MAIN
 -----------------*/

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #00CCFF;
	background-image: url('../img/background.jpg');
}

blockquote { border: 0; }

#container {
	position: absolute;
	top: 5px;
	left: 15px;
	bottom: 40px;

	width: 96%;
	min-width: 360px;
	/*height: 95%;*/
	min-height: 480px;
	border-top-right-radius: 10px;
	/*border-bottom-left-radius: 10px;*/
}

#dialog-template { display: none; }

.button {
	cursor: pointer;
 	position: relative;
}
.button:not(.ui-state-disabled):hover { color: #ddd; }

.population-container {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;

	z-index: 1;
	background: rgba(0, 0, 0, 0.7);
	padding: 2px 10px;
	color: #999;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.silence-text {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -50px;
	margin-left: -100px;
	display: none;
}

.silence-text h1{
	color: red;
}

.population-container h2 {
	border-bottom: 1px #999 solid;
}

.population-container h4 {
	float: left;
	margin-left: 35px;
}

.population-container .male {
	color: #539DC2;
}

.population-container .female {
	color: #CD6090;
}

.ui-state-disabled {
	cursor: default;
}

footer {
	position: absolute;
	bottom: 0;

	background: rgba(0, 0, 0, 0.7);
	font-family: verdana, arial, tahoma;
	font-size: 12px;
	text-shadow: 1px 1px 0 #333;
	color: #999;
	height: 40px;
	width: 96%;
	margin-left: 15px;

	text-align: center;
}

footer p { padding-top: 15px; }
footer em { color: #0DB0BE; }
footer span { color: #89BE0D; }

footer a:link,
footer a:visited,
footer a:active {
	color: #F6B149;
	text-decoration: none;
}

footer a:hover {
	color: #F8572D;
	text-decoration: none;
	-webkit-transition: 1s linear;
	-moz-transition: 1s linear;
	-o-transition: 1s linear;
	-ms-transition: 1s linear;
	transition: 1s linear;
}

/*-----------------
  ADD PERSON FORM
 -----------------*/
.modal-dialog, .modal-content { background: rgba(0, 0, 0, 0.7); }
.add-person-title {
	border-radius: 0;
	color: #ccc;
}
.modal-content {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border: none;
	color: #fff;
}

.modal-content .form-control {
	background-color: rgba(0,0,0,.5);
	border-color: #333;
	color: #fff;
}

.modal-content .input-group {
	margin-top: 10px;
}

.left-column {
	float: left;
	margin: 10px 15px 0 0;
}
.right-column {
	float: right;
}
.select-gender { margin: 0 auto; }

.modal-footer {
	background: none;
	margin: 0 auto;
	float: none;
    text-align: center;
}
