/**
 * Quick Actions styles
 */
#actions-bar {
	background: rgba(0, 0, 0, 0.9);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	bottom: 0;
	color: map-get($colors, dusty-grey);
 	cursor: default;
	display: none;
	left: 25%;
 	max-width: 620px;
	position: absolute;
 	text-align: center;
 	/* Disable user selection */
 	user-select: none;
 	z-index: 20;

 	.action {
 		color: inherit;
 		display: inline-block;
 		padding: 1em;

 		&:not(.ui-state-disabled) {
	 		cursor: pointer;
	 	}

 		&:hover {
	 		color: inherit;
			opacity: .35;
		}
 	}
}
