/*---------------------------------
   BIOSPHERE STYLES
---------------------------------*/

#biosphere {
	background-color: map-get($colors, 'white');
	border-top-right-radius: 10px;
	bottom: 0;
	left: 50px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;

	.background {
		background-color: map-get($colors, dark-grey);
		background-position: center;
		background-size: cover;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		&.fall {
			background-image: url('/images/fall.png');
		}

		&.spring {
			background-image: url('/images/spring.png');
		}

		&.summer {
			background-image: url('/images/summer.png');
		}

		&.winter {
			background-image: url('/images/winter.png');
		}
	}

	&.cemetery {
		.background {
			background-image: url('/images/cemetery.jpg');
			transform: rotate(360deg);
			transition: .3s linear;
		}

		.person,
		.cycle-background,
		.population-container {
			display: none;
		}

		.person.tombstone {
			display: block;
		}
	}

	.apocolypse {
		background-color: map-get($colors, 'red');
		display: none;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 15;
	}

	.cycle-background {
		bottom: 0;
		color: map-get($colors, 'black');
		position: absolute;
		top: 100;

		&.backward {
			left: 0;
			right: 600;
		}

		&.forward {
			left: 600;
			right: 0;
		}
	}
}
